/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */
/* 상단 탭 */
section .title {
	background: #1B467C;
	background-clip: content-box;
}

section .section-title-img {
	text-align: center;
	color: #18A8F1;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 90px;
	font-family: Segoe Print;
	background: #1B467C;
}

section .section-title {
	color: #18A8F1;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 90px;
	font-family: Segoe Print;
	background: #1B467C;
}

.items-link:link {
	color: #eee;
}

.items-link:visited {
	color: #eee;
}

#tabs {
	color: #eee;
	background: #1B467C;
}

#tabs h6.section-title {
	color: #eee;
}

.nav {
	background: #1B467C;
}

.nav-tabs {
	border-top: 2px solid #dee2e6;
	border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #f3f3f3;
	background-color: transparent;
	border-color: transparent transparent #f3f3f3;
	border-bottom: 4px solid !important;
	font-size: 20px;
	font-weight: bold;
}

.main-container {
	height: 100%;
	padding: 0px;
}

.cbody {
	border-left: 2px dotted #ffffff;
	border-right: 2px dotted #ffffff;
	border-bottom: 2px dotted #ffffff;
}

#tabs .nav-tabs .nav-link {
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	color: #eee;
	font-size: 20px;
}

/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */
/* 장바구니 */
a:link {
	text-decoration: none;
	color: #000;
}

a:visited {
	color: #000;
}

.button {
	border: 1px solid black;
	padding: .5em 1.5em;
	cursor: pointer;
	outline: none;
	font-size: .8em;
	background: #fff;
}

.close {
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	padding-bottom: .1em;
	background: #000;
	color: #fff;
	cursor: pointer;
}

.wrapper {
	position: relative;
	overflow-x: hidden;
	width: 100%;
}

#cart {
	position: fixed;
	right: -16em;
	width: 20em;
	height: 100%;
	padding: 1em;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	background: #fff;
	z-index: 99999;
	transition: all .5s ease;
	overflow: auto;
}

#cart:hover {
	right: 0;
}

#cart span {
	display: block;
}

.cart-title {
	padding: .5em 0 1em;
	font-size: 1.5em;
	border-bottom: 1px solid black;
}

.cart-title .fa-shopping-cart {
	display: inline-block;
	position: relative;
	margin-right: .6em;
}

.fa-shopping-cart .cart-counter {
	position: absolute;
	top: -.3em;
	right: -.3em;
	font-size: .5em;
	padding: .1em .3em;
	background: #20B2AA;
}

.cart-product {
	margin-top: .5em;
	text-transform: uppercase;
}

.cart-product-img {
	float: left;
	width: 10em;
}

.cart-product-img img {
	width: 100%;
}

.cart-product-info {
	float: left;
	width: 100%;
	margin-bottom: .5em;
}

.cart-product-footer {
	clear: both;
	padding: .6em 0;
	border-top: 1px dashed #000;
	border-bottom: 1px solid #000;
}

#cart .product-price {
	display: inline-block !important;
	float: none;
}

.cart-product-footer .fa-trash-o {
	float: right;
	margin-top: 6px;
}

.cart-total {
	margin-top: .2em;
	border-top: 1px solid #000;
}

.cart-total .product-price {
	padding: .3em 0;
	font-size: 2.5em;
}

.cart-total .product-price .fa-rub {
	font-size: .6em;
}

.order {
	display: block;
	width: 100%;
	transition: all ease .2s;
}

/* **************************************************************************** */
/* **************************************************************************** */
/* **************************************************************************** */
/* 카탈로그 */
#catalog {
	text-align: center;
}

.product {
	display: inline-block;
	width: 15em;
	padding: 15px;
	border: 5px solid #ffffff;
	vertical-align: top;
	text-transform: uppercase;
	text-align: left;
	transition: all ease .3s;
}

.product:hover {
	border-color: #18A8F1;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.product-wrapper {
	height: 100%;
}

.product-img img {
	width: 100%;
}

.product span {
	display: block;
	margin: .1em 0;
}

.product-info {
	position: relative;
	height: 4em;
}

.product-decription {
	text-align: center;
 	font-weight: bold;
	font-size:1.2em;
}

.product-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.product-footer span {
	display: inline-block;
	margin: 0;
}

.product-price {
	float: right;
	font-weight: bold;
	font-size: 1.7em;
	line-height: 1;
}

.product-price .fa-rub {
	margin-bottom: -.1em;
	font-size: .9em;
}

/* 카탈로그 애니메이션 */
.add-cart {
	transition: all ease .2s;
}

.add-cart:hover, .order:hover {
	background: #20B2AA;
	border-color: #20B2AA;
}

.add-cart:active, .order:active {
	background: silver;
	border-color: silver;
}

/* 모달창 */
.modal {
	text-align: center;
	padding: 0!important;
}

.modal-open {
    padding-right: 0px !important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	width: 60%;
	background: #fff;
	z-index: 11;
	padding: 10px;
}